/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */



/* --------------------------------------
   Typography
   -------------------------------------- */



/* --------------------------------------
   Navbar
   -------------------------------------- */
   .wrap{
     background-color: black;

   }
   #searchInput{
     width:200px;
   }
   .wrapper{
     //padding-left:300px;
     margin:auto;
   }
  .cols a{
    color:white;
  }
/* --------------------------------------
   Carousel
   -------------------------------------- */
   #myCarousel{
     margin-top:150px;
      width:1200px;
      margin: 150px auto 20px;
   }
   #myCarousel .item{
     height: 400px;
   }
   /*#slide1{
     background: url("../../images/destination1.jpg") top center no-repeat;
     width:100%;
   }
   #slide2{
     background: url("../../images/destination7.jpg") top center no-repeat;
   }
   #slide3{
     background: url("../../images/destination8.jpg") top center no-repeat;
   }
   #slide4{
     background: url("../../images/destination4.jpg") top center no-repeat;
   }
   #slide5{
     background: url("../../images/inner.jpg") top center no-repeat;
   }
   #slide6{
     background: url("../../images/inner1.jpg") top center no-repeat;
   }*/
   .item h1{
     color:black;
     font-style: oblique;
   }
   .cont{
     text-align: center;
   }
   .cont p{
     font-size: 24px;
     word-spacing: 3px;
     letter-spacing: 1px;
   }
   .imag{
     //width:325px;
     height:300px;
     margin-top:10px;
     margin-bottom:10px;
     width:100%
   }
   .move h3{
     text-align: center
   }
   .ima img{
     width:50px;
     height:50px;
     //width:100%;
   }
   .chan video{
     width:100%;
   }
   .ima p{
     font-size: 22px;
     padding-left:550px;
   }
   .ima{
     margin-top: 10px;
   }
   .mov{
     padding-left:525px;
   }

   .foot{
     background: black;
     width:100%;
   }
   .foot h5{
     color: white;
   }
   #myModal, #myModal1{
     background: white;
   }

   #tab2 p, #tab2 h4, #tab2 img,#tab1 p, #tab1 h4, #tab1 img{
     margin-top:20px;
     //margin-bottom:10px;
   }
   footer{
     background: black;
   }
/* --------------------------------------
   Global Styles
   -------------------------------------- */
   .panel-heading{
     background: black;
   }
   .panel-title{
     color:white;
   }
   .feat{
     margin-top:130px;
   }
   #Features{
     margin-bottom:30px;
   }
   .dropdown-menu{
     background: black;
   }
   .dropdown-menu li a{
     color:white;
     text-align: center;
   }

   .nav li a{
     color:white;
   }

   .tabs li a {
     color: black;
   }

/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
  .imag,.ims img,{
    width:100%;
  }
  .navbar-nav li a{
    padding:2px;
  }

  .mov,.ima p{
    padding-left: 0px;
  }

  #myCarousel{
    margin-top:100px;
     width:100%;
     margin: 80px auto 20px;
     height:auto;
  }
  #myCarousel .item{
    height: 160px;
  }
  /*#slide1{
    background: url("../../images/destination1_sm.jpg") top center no-repeat;
    width:auto;
  }
  #slide2{
    background: url("../../images/destination7_sm.jpg") top center no-repeat;
  }
  #slide3{
    background: url("../../images/destination8_sm.jpg") top center no-repeat;
  }
  #slide4{
    background: url("../../images/destination4_sm.jpg") top center no-repeat;
  }
  #slide5{
    background: url("../../images/inner_sm.jpg") top center no-repeat;
  }
  #slide6{
    background: url("../../images/inner1_sm.jpg") top center no-repeat;
  }*/

  #tab1 img{
    width:200px;
  }
  #tab2 img{
    width:200px;
  }

.dropdown-menu .divider{
  margin:0px;
  height:0px;
}

.feat{
  margin-top:-50px;
}

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .imag,.ims img{
    width:100%;
  }
  .navbar-nav li a{
    padding:1px;
  }
  .dropdown-menu .divider{
    margin:0px;
    height:0px;
  }

  .feat{
    margin-top:130px;
  }
  #Features{
    margin-bottom:30px;
  }

  .mov,.ima p{
    padding-left: 125px;
  }

  #tab1 img, #tab2 img{
    width:250px;
  }

  #myCarousel{
    margin-top:100px;
     width:100%;
     margin: 100px auto 20px;
  }
  #myCarousel.item{
    height:400px;
  }

  #slide1 img,#slide2 img,#slide3 img,#slide4 img,#slide5 img,#slide6 img{
    height: 400px;
  }

  /*#slide1{
    background: url("../../images/destination1_md.jpg") top center no-repeat;
    height:100%;
  }
  #slide2{
    background: url("../../images/destination7_md.jpg") top center no-repeat;
  }
  #slide3{
    background: url("../../images/destination8_md.jpg") top center no-repeat;
  }
  #slide4{
    background: url("../../images/destination4_md.jpg") top center no-repeat;
  }
  #slide5{
    background: url("../../images/inner_md.jpg") top center no-repeat;
  }
  #slide6{
    background: url("../../images/inner1_md.jpg") top center no-repeat;
  }*/
  footer img{
    width:100%;
  }
}

@media (min-width:780px){
  #myCarousel{
    margin: 400px auto 20px;
    width:100%;
  }
  .navbar-nav li a{
    padding:5px;
  }
}
/*@media (max-width:1000px){
  #myCarousel{
    margin: 400px auto 20px;
    width:100%;
  }
}*/

/* Devices less than 1200px*/
@media (max-width: 1216px) {
  #tab1 img, #tab2 img{
    width:100%;
    width:350px;
  }
  footer img{
    width:100%;
  }

  .chan video{
    width:100%;
  }
  #myCarousel{
    margin-top:300px;
     width:100%;
     margin: 150px auto 20px;
  }
  #myCarousel .item{
    height: 260px;
  }
  .navbar-nav li a{
    padding:6px;
  }
  .imag,.ims img{
    width:100%;
  }
  .feat{
    margin-top:230px;
  }
  #Features{
    margin-bottom:30px;
  }

}

/* Large desktop */
@media (min-width: 1200px) {
  .imag{
    width:100%;
  }
  #myCarousel{
    margin-top:200px;
  }
  .feat{
    margin-top:200px;
  }

  footer img{
    width:100%;
  }
  .navbar-nav li a{
    padding:12px;
  }
}
